h1{
    text-align: center;
   border-bottom: 3px solid black;
   padding-bottom: 20px;
   margin: 0;
}

h1 a{
    text-decoration: none;
    color: black;
}

#menu ol{
    border-right: 3px solid black;
    width: 175px;
    margin: 0;
    padding-top: 25px;
    margin-left: 20px;
    height: 86.2vh;
}

ol a{
    color: black;
}

#sall{
    display: grid;
    grid-template-columns: 238px 1fr;
}

#content{
    padding-left: 20px;
}

#content h3{
    padding-right:40px;
}
#all{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#video{
    margin-left: 30px;
    margin-top: 12px;
}

